
    <div class="header">
            <h3>Admin</h3>
            <nav>
                <a  class="active" routerLink="/" >Manage Schedules</a> >
                <a  class="active"routerLink="/">Manage Discounts</a>
                <a  class="active" routerLink="/add" >Manage Airlines</a> >
                <a  class="active"routerLink="/">Reports</a>

                <a  class="active"routerLink="/">Admin Logout</a>
            </nav>
        </div>



    
    
        <router-outlet></router-outlet>
